@keyframes moveFromRight {
  from { transform: translateX(50%); }
}

@keyframes moveToRight {
  to { transform: translateX(50%); }
}

.slide-in {
  animation: moveFromRight 0.4s ease both;
}

.slide-out {
  animation: moveToRight 0.4s ease both;
}
