.root {
}

.container {
    //padding: 1rem 2rem 5rem 2rem;
    margin-bottom: 3.2rem;
    //margin-top: 1rem;
    line-height: 1.4;
    font-size: 1.2rem;
    overflow-y: auto;
    background-color: #f4f4f4;
}

.content {
    position: absolute;
    margin-top: 3.5rem;
}

.info {
    background-color: white;
    padding: 1em;
}

.fireicn {
    margin-right: 2px;
    float: left;
}
